<h3 class="pro-title shadow">{{ heading_title }}</h3>
<div class="row">
	{% for product in products %}
  	<div class="product-layout prod-latest col-lg-4 col-sm-6 col-12">
		<div class="heart-but" data-toggle="tooltip" data-placement="top" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></div>
		<div class="card shadow mb-3">
			<a href="{{ product.href }}"><img src="{{ product.thumb }}" class="card-img-top" alt="{ product.name }}" data-toggle="tooltip" data-placement="top" title="{{ product.name }}"></a>
			<div class="card-body">
				<h4 class="card-title"><a href="{{ product.href }}">{{ product.name }}</a></h4>
				{% if product.price %}
        		<p class="price"> {% if not product.special %}
          		{{ product.price }}
          		{% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
          		{% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>
        		{% endif %}
			</div>
			<div class="card-body">
				<div class="cart_button-group d-inline-flex" onclick="cart.add('{{ product.product_id }}');">
					<div>{{ button_cart }}</div>
					<div class="cart-icon"></div>
				</div>
			</div>
		</div>
  	</div>
	{% endfor %}
</div>
