{{ header }}
<div id="account-password">
<div class="container-lg">
	<div class="row">
	{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-lg-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-lg-9' %}
    {% else %}
    {% set class = 'col-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
	{{ content_top }}
	<nav aria-label="breadcrumb" class="shadow mt-3">
		<ol class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
			<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
		{% endfor %}
		</ol>
	</nav>
	<h2 class="pro-title">{{ heading_title }}</h2>
	<div class="list-content shadow mb-3">	
	<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
		<fieldset>
		<legend class="mb-3">{{ text_password }}</legend>
		<div class="form-group">
			<label class="small control-label" for="input-password">{{ entry_password }}</label>
			<input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" required>
			{% if error_password %}
				<div class="text-danger">{{ error_password }}</div>
			{% endif %}
		</div>
        <div class="form-group">
			<label class="small control-label" for="input-confirm">{{ entry_confirm }}</label>
			<input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control" required>
			{% if error_confirm %}
				<div class="text-danger">{{ error_confirm }}</div>
			{% endif %}
		</div>
		</fieldset>
        <div class="buttons clearfix mt-3">
          <div class="pull-left"><a href="{{ back }}" class="btn btn-light">{{ button_back }}</a></div>
          <div class="pull-right">
            <input type="submit" value="{{ button_submit }}" class="btn btn-primary">
          </div>
        </div>
	</form>
	</div>
	{{ content_bottom }}
	</div>
	{{ column_right }}
	</div>
</div>
</div>
{{ footer }}